openapi: "3.1.0"

info:
  title: Mirelo API
  version: "2.0"
  description: |
    Generate sound effects from text or video using the Mirelo AI API.

    **Base URL:** `https://api.mirelo.ai`

    All requests must be authenticated with a Bearer token API key obtained
    from [mirelo.ai](https://mirelo.ai).
  contact:
    name: Mirelo AI GmbH
    url: https://mirelo.ai
  license:
    name: MIT

servers:
  - url: https://api.mirelo.ai
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Account
    description: Account and credit information
  - name: Assets
    description: Video asset upload for use in generation requests
  - name: Text to SFX
    description: Generate sound effects from a text prompt
  - name: Video to SFX
    description: Generate sound effects from a video

paths:
  /v2/me:
    get:
      operationId: getMe
      summary: Get account information
      tags: [Account]
      responses:
        "200":
          description: Account information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResult"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v2/assets:
    post:
      operationId: createAsset
      summary: Create a presigned upload URL for a video asset
      description: |
        Returns an `asset_id` and a presigned `upload_url`. Upload your video
        bytes via `PUT` to the presigned URL with the matching `Content-Type`
        header, then reference the `asset_id` in a generation request.
      tags: [Assets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetRequest"
      responses:
        "200":
          description: Presigned upload URL created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAssetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /v2/text-to-sfx/v1.5/preflight:
    get:
      operationId: textToSfxPreflight
      summary: Preflight check — text to SFX
      description: Returns the credit cost and estimated generation time without consuming credits.
      tags: [Text to SFX]
      parameters:
        - $ref: "#/components/parameters/DurationMs"
        - $ref: "#/components/parameters/NumSamples"
      responses:
        "200":
          description: Preflight result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreflightResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /v2/text-to-sfx/v1.5/sync:
    post:
      operationId: textToSfxSync
      summary: Generate sound effects from text (synchronous)
      description: |
        Blocks until generation completes and returns the result URLs directly.

        > **Warning:** This is a long-blocking HTTP call. Any proxy or load
        > balancer with a timeout shorter than the generation time will cut the
        > request off. Use `POST /v2/text-to-sfx/v1.5/jobs` instead for
        > production workloads.
      tags: [Text to SFX]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextToSfxRequest"
      responses:
        "200":
          description: Generation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /v2/text-to-sfx/v1.5/jobs:
    post:
      operationId: textToSfxSubmitJob
      summary: Submit a text-to-SFX background job
      description: |
        Enqueues a generation job and returns immediately with a `job_id` that
        can be polled via `GET /v2/text-to-sfx/v1.5/jobs/{job_id}`.
      tags: [Text to SFX]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextToSfxRequest"
      responses:
        "200":
          description: Job accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobCreatedResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /v2/text-to-sfx/v1.5/jobs/{job_id}:
    get:
      operationId: textToSfxGetJob
      summary: Poll a text-to-SFX job
      tags: [Text to SFX]
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Current job status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v2/video-to-sfx/v1.5/preflight:
    get:
      operationId: videoToSfxPreflight
      summary: Preflight check — video to SFX
      description: Returns the credit cost and estimated generation time without consuming credits.
      tags: [Video to SFX]
      parameters:
        - $ref: "#/components/parameters/DurationMs"
        - $ref: "#/components/parameters/NumSamples"
      responses:
        "200":
          description: Preflight result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreflightResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /v2/video-to-sfx/v1.5/sync:
    post:
      operationId: videoToSfxSync
      summary: Generate sound effects from a video (synchronous)
      description: |
        Blocks until generation completes and returns the result URLs directly.

        > **Warning:** This is a long-blocking HTTP call. Any proxy or load
        > balancer with a timeout shorter than the generation time will cut the
        > request off. Use `POST /v2/video-to-sfx/v1.5/jobs` instead for
        > production workloads.
      tags: [Video to SFX]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoToSfxRequest"
      responses:
        "200":
          description: Generation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /v2/video-to-sfx/v1.5/jobs:
    post:
      operationId: videoToSfxSubmitJob
      summary: Submit a video-to-SFX background job
      description: |
        Enqueues a generation job and returns immediately with a `job_id` that
        can be polled via `GET /v2/video-to-sfx/v1.5/jobs/{job_id}`.
      tags: [Video to SFX]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoToSfxRequest"
      responses:
        "200":
          description: Job accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobCreatedResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /v2/video-to-sfx/v1.5/jobs/{job_id}:
    get:
      operationId: videoToSfxGetJob
      summary: Poll a video-to-SFX job
      tags: [Video to SFX]
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Current job status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from mirelo.ai

  parameters:
    JobId:
      name: job_id
      in: path
      required: true
      schema:
        type: string
      description: Job identifier returned by the submit-job endpoint

    DurationMs:
      name: duration_ms
      in: query
      required: false
      schema:
        type: integer
        default: 10000
      description: Desired output audio duration in milliseconds

    NumSamples:
      name: num_samples
      in: query
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
        maximum: 4
      description: Number of audio samples to generate

  schemas:
    # ── Account ────────────────────────────────────────────────────────────────

    MeResult:
      type: object
      required: [id, email, credits_available, overage_enabled]
      properties:
        id:
          type: string
          description: Account identifier
        email:
          type: string
          format: email
        credits_available:
          type: number
          description: Current credit balance
        overage_enabled:
          type: boolean
          description: Whether the account may exceed its credit balance

    # ── Assets ─────────────────────────────────────────────────────────────────

    CreateAssetRequest:
      type: object
      required: [content_type]
      properties:
        content_type:
          type: string
          example: video/mp4
          description: MIME type of the video to be uploaded

    CreateAssetResponse:
      type: object
      required: [asset_id, upload_url]
      properties:
        asset_id:
          type: string
          description: Opaque identifier for the uploaded asset, to be used in generation requests
        upload_url:
          type: string
          format: uri
          description: Presigned URL — upload the raw video bytes here with a `PUT` request

    # ── Video source ───────────────────────────────────────────────────────────

    VideoSourceUrl:
      type: object
      required: [type, video_url]
      properties:
        type:
          type: string
          enum: [url]
        video_url:
          type: string
          format: uri
          description: |
            Publicly accessible URL of the video. The API fetches the first
            **128 KB** of this URL to validate the video before processing.

    VideoSourceAsset:
      type: object
      required: [type, asset_id]
      properties:
        type:
          type: string
          enum: [asset]
        asset_id:
          type: string
          description: Asset identifier returned by `POST /v2/assets`

    VideoSource:
      description: Video provided either as a public URL or as a pre-uploaded asset
      oneOf:
        - $ref: "#/components/schemas/VideoSourceUrl"
        - $ref: "#/components/schemas/VideoSourceAsset"
      discriminator:
        propertyName: type
        mapping:
          url: "#/components/schemas/VideoSourceUrl"
          asset: "#/components/schemas/VideoSourceAsset"

    # ── Generation requests ────────────────────────────────────────────────────

    TextToSfxRequest:
      type: object
      required: [prompt]
      properties:
        prompt:
          type: string
          description: Text description of the sound effect to generate
          example: dramatic thunderclap
        duration_ms:
          type: integer
          default: 10000
          description: Desired output audio duration in milliseconds
        num_samples:
          type: integer
          default: 1
          minimum: 1
          maximum: 4
          description: Number of audio samples to generate

    VideoToSfxRequest:
      type: object
      required: [video, duration_ms]
      properties:
        video:
          $ref: "#/components/schemas/VideoSource"
        duration_ms:
          type: integer
          description: Desired output audio duration in milliseconds
          example: 5000
        start_offset_ms:
          type: integer
          default: 0
          description: Offset from the start of the video at which to begin analysis, in milliseconds
        num_samples:
          type: integer
          default: 1
          minimum: 1
          maximum: 4
          description: Number of audio samples to generate
        output:
          type: string
          enum: [audio, video]
          default: audio
          description: Return audio only, or a video file with the generated audio mixed in

    # ── Shared generation results ──────────────────────────────────────────────

    PreflightResult:
      type: object
      required: [credits, estimated_ms]
      properties:
        credits:
          type: number
          description: Credits that will be consumed if the generation proceeds
        estimated_ms:
          type: integer
          description: Estimated generation time in milliseconds

    SyncResult:
      type: object
      required: [result_urls]
      properties:
        result_urls:
          type: array
          items:
            type: string
            format: uri
          description: Download URLs for the generated audio or video files

    # ── Job lifecycle ──────────────────────────────────────────────────────────

    JobCreatedResponse:
      type: object
      required: [job_id, job_url, estimated_ms, estimated_completion_at]
      properties:
        job_id:
          type: string
          description: Unique identifier for the submitted job
        job_url:
          type: string
          format: uri
          description: Absolute URL to poll for job status
        estimated_ms:
          type: integer
          description: Estimated total generation time in milliseconds
        estimated_completion_at:
          type: string
          format: date-time
          description: Estimated completion timestamp (ISO 8601)

    JobStatusProcessing:
      type: object
      required: [status, progress_percent, estimated_completion_at]
      properties:
        status:
          type: string
          enum: [processing]
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
          description: Percentage of generation completed
        estimated_completion_at:
          type: string
          format: date-time
          description: Estimated completion timestamp (ISO 8601)

    JobStatusSucceeded:
      type: object
      required: [status, result]
      properties:
        status:
          type: string
          enum: [succeeded]
        result:
          type: object
          required: [result_urls]
          properties:
            result_urls:
              type: array
              items:
                type: string
                format: uri
              description: Download URLs for the generated output files

    JobStatusErrored:
      type: object
      required: [status, error]
      properties:
        status:
          type: string
          enum: [errored]
        error:
          type: object
          required: [code, message, http_status]
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: generation_failed
            message:
              type: string
              description: Human-readable error description
            http_status:
              type: integer
              description: HTTP status code associated with the error
              example: 502

    JobStatusResponse:
      description: Current state of a background generation job
      oneOf:
        - $ref: "#/components/schemas/JobStatusProcessing"
        - $ref: "#/components/schemas/JobStatusSucceeded"
        - $ref: "#/components/schemas/JobStatusErrored"
      discriminator:
        propertyName: status
        mapping:
          processing: "#/components/schemas/JobStatusProcessing"
          succeeded: "#/components/schemas/JobStatusSucceeded"
          errored: "#/components/schemas/JobStatusErrored"

    # ── Error envelope ─────────────────────────────────────────────────────────

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Machine-readable error code
              examples:
                - insufficient_credits
                - invalid_video
                - timeout
                - server_error
            message:
              type: string
              description: Human-readable error description

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    PaymentRequired:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    UnprocessableEntity:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
